{% extends "base.html"%}

{% block title %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #annoying a{
        float:right;
        padding:10px 30px;
        margin:20px 0;

        text-decoration: none;
        background-color:navy;
        color:white;
        }

        #annoying a:hover{
        color: red;
        font-weight: bold;
        }
    </style>
    <title>Meraklis-- Order Memo</title>
</head>
{% endblock %}

{% block content %}
<!--VVVV IMP: ONLY SHOW TO PERSON WHO'S ORDERED NOBODY ELSE-->
<h2 style="text-align:center;">Your Order</h2>
<table class="order_memo">
            <tr>
            <th>Title</th>
            <th id="quantity">Qty.</th>
            <th id="price">Price</th>
            <th id="total">Total</th>

        </tr>
        {% for book in order %}
        {% if book['quantity'] != 0 %}
        <tr>

            <td>{{ book["book_name"] }}</td>
            <td  style="text-align: center;">{{ book['qty'] }}</td>
            <td>{{ book["total_amount"] }}</td>
            <td>{{ book["total_amount"]*book["qty"] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="border: 1px solid black; padding: 3px;">{{ total }}</td>
        </tr>

</table>
{% endblock %}

{% block sidebar %}
{% endblock %}