{% extends "base.html" %}

{% block content %}
<table class="order_memo">
    <tr>
        <th id="cart_srno">Sr.No.</th>
        <th>Title</th>
        <th id="quantity">Quantity</th>
        <th id="price">Price</th>
        <th id="total">Total</th>

    </tr>
    {% for book in cart %}
    {% if book['quantity'] != 0 %}
        <tr>
            <td>{{ book["cart_id"] }}</td>
            <td><a href="{{ url_for('view_book', title=book['book_name']) }}"
                           id="book_title">{{ book["book_name"] }}</a></td>
            <td>
                <form method="post" action="{{ url_for('UpdateCart', title=book['book_name']) }}" class="quantity_ch">
                    <div><input type="number" name="quantity" min="1" value="{{ book['quantity'] }}" style="border:0 1px 1px 0; background-color:inherit; text-align:center;">
                         <input type="submit" value="Save" id="submit" style="float:right; border:none; background-color:inherit; color:blue; font-size:6;">
                    </div>
                </form>
            </td>
            <td>{{ book["price"] }}</td>
            <td>{{ book["cart_total"] }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <td></td><td></td><td></td><td></td>
        <td style="border: 1px solid black;">{{ total }}</td>
    </tr>
</table>
<br><button style="margin: auto; float:right;">
    <a href="{{ url_for('place_order_demo', user_id=current_user.id) }}"> Place Order </a>
</button>

{% endblock %}

{% block sidebar %}

{% endblock %}

